@font-face {
    font-family: zh-cn;
    src: url(../assets/fonts/zh-cn.ttf);
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: zh-cn,'Courier New', Courier, monospace;
    background-color: rgb(34, 40, 49);
    color: rgb(244, 250, 255);
    letter-spacing: 1px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loaderContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 40, 49);
    z-index: 999;
    pointer-events: none;
}
.textwrap {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:50%;
    margin-left:-300px;
    overflow:visible;
}
.textwrap div {
    position:absolute;
    width:30px;
    height:40px;
    opacity:0;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    font-size: 24px;
}
.textwrap div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
.textwrap div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
.textwrap div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
.textwrap div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
.textwrap div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
.textwrap div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}
@keyframes move {
    0% {
    left:0;
    opacity:0;
    }
    35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
}
65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
    }
    100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
    35% {
        left:41%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%; 
        -moz-transform:rotate(-180deg); 
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
}
.mainContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.navContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardTitle {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle span {
    font-size: 14px;
    color: rgb(244, 250, 255);
    white-space: nowrap;
}
.cardsContainer {
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 200px;
    height: 80px;
    background-color: rgb(55, 63, 77);
    border-radius: 5px;
    transition: all ease .35s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.card:active {
    background-color: rgb(244, 250, 255);
}
.activeCard {
    background-color: rgb(244, 250, 255);
}
.timeContainer {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(244, 249, 255);
    white-space: nowrap;
}
.kazuha {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/card/main/kazuha/kaedahara_kazuha.png);
    background-size: 400%;
    background-position: center 18%;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all ease .35s;
}
.activeKazuha {
    background-position: 48% 18%;
    background-size: 620%;
}
.klee {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/card/main/klee/klee.png);
    background-size: 400%;
    background-position: center 40%;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all ease .35s;
}
.activeKlee {
    background-position: 51% 40%;
    background-size: 600%;
}
.weapon {
    width: 100%;
    height: 100%;
    background-image:  url(../assets/images/card/main/weapon/freedom_sworn.png), url(../assets/images/card/main/weapon/LPSW.png);
    background-size: 90%, 80%;
    background-position: -130% 29%, 110% 38%;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all ease .35s;
}
.activeWeapon {
    background-size: 95%, 85%;
    background-position: -160% 33%, 120% 43%;
}
.summonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bannerImgContainer {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img {
    width: 1080px;
    height: 533px;
    border-radius: 5px;
    image-rendering: auto;
    transition: all ease .35s;
}
.fade {
    animation: fade ease .3s;
    opacity: 1;
    transition: all ease .35s;
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    50% {
        opacity: 0.35;
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.btnContainer {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.utilityBtnContainer {
    width: 450px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.summonBtnContainer {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnContainer button {
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(55, 63, 77);
    font-size: 14px;
    font-family: inherit;
    color: inherit;
    letter-spacing: 1.5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transition: all ease .35s;
}
.btnContainer button:hover {
    background-color: rgb(29, 35, 46);
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
    cursor: pointer;
}
.btnContainer button:active {
    background-color: rgb(36, 46, 65);
    transform: scale(0.93);
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
}
.summonOne {
    display: flex;
    justify-content: center;
    align-items: center;
}
.summonOne button {
    z-index: 1;
}
.disabled {
    background-color: rgb(240, 100, 100);
    border: none;
    pointer-events: none;
    animation: none;
}
.disabled:hover, .disabled:focus, .disabled:active {
    pointer-events: none;
    animation: none;
}
.qiqi_image {
    position: absolute;
    transform: translateY(-1px) rotate(-3deg);
    transition: all ease .35s;
    image-rendering: auto;
    pointer-events: none;
    opacity: 0;
}
.summonOne button:hover +  .qiqi_image {
    animation: popup ease .3s;
    transform: translateY(-42px) rotate(-3deg);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}
@keyframes popup {
    0% {
        transform: translateY(-1px) rotate(-3deg);
        z-index: 0;
        opacity: 0;
        pointer-events: none;
    }
    98% {
        z-index: 0;
        opacity: 1;
        pointer-events: none;
    }
    100% {
        transform: translateY(-42px) rotate(-3deg);
        z-index: 2;
        opacity: 1;
        pointer-events: none;
    }
}
.summonOne button:active + .qiqi_image {
    transition: all ease .35s;
    transform: translateY(-39px) rotate(-3deg ) scale(0.93);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}
.videoContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    display: none;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resultNav {
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 20;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.resultNav button {
    margin-right: 20px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(55, 63, 77);
    font-size: 14px;
    font-family: inherit;
    color: inherit;
    letter-spacing: 1.5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transition: all ease .35s;
}
.resultNav button:hover {
    background-color: rgb(29, 35, 46);
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
    cursor: pointer;
}
.resultNav button:active {
    background-color: rgb(36, 46, 65);
    transform: scale(0.93);
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
}
.resultContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    backdrop-filter: blur(10px);
    display: none;
}
.resultItemContainer {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultCard {
    width: 100%;
    height: 768px;
    transition: all ease .25s;
    display: flex;
    justify-content: center;
}
.resultCard img {
    filter: drop-shadow(3px 3px 3px black);
    animation: result ease 2.5s;
    z-index: 2;
}
@keyframes result {
    0% {
        transform: scale(2.5) translateX(-50px);
        filter: brightness(0%);
    }
    10% {
        opacity: 1;
    }
    12% {
        transform: translateX(-50px);
        filter: brightness(0%);
    }
    13%{
        transform: scale(1) translateX(-50px);
        filter: brightness(0%)
    }
    30%{
        filter: brightness(0%);
    }
    40% {
        transform: translateX(-50px);
        filter: brightness(0%);
    }
    60% {
        filter: brightness(130%) drop-shadow(3px 3px 3px black);
    }
    65% {
        filter: brightness(115%) drop-shadow(3px 3px 3px black);
        transform: translateX(0);
    }
    100% {
        filter: brightness(100%) drop-shadow(3px 3px 3px black);
    }
}
