@font-face {
    font-family: zh-cn;
    src: url(../assets/fonts/zh-cn.ttf);
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: zh-cn,'Courier New', Courier, monospace;
    background-color: rgb(34, 40, 49);
    color: rgb(252, 248, 232);
    letter-spacing: 1px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: all ease .35s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loaderContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 40, 49);
    z-index: 999;
}
.textwrap {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:50%;
    margin-left:-300px;
    overflow:visible;
}
.textwrap div {
    position:absolute;
    width:30px;
    height:40px;
    opacity:0;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    font-size: 24px;
}
.textwrap div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
.textwrap div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
.textwrap div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
.textwrap div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
.textwrap div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
.textwrap div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}
@keyframes move {
    0% {
    left:0;
    opacity:0;
    }
    35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
}
65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
    }
    100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
    35% {
        left:41%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%; 
        -moz-transform:rotate(-180deg); 
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
}
.mainContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.navContainer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardTitle {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle span {
    font-size: 14px;
    color: rgb(255, 244, 242);
}
.cardsContainer {
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 200px;
    height: 80px;
    background-color: rgb(55, 63, 77);
    border-radius: 5px;
    transition: all ease .35s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
.card:hover {
    background-color: rgb(137, 156, 192);
    cursor: pointer;
}
.card:active {
    background-color: rgb(236, 179, 144);
}
.timeContainer {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(177, 195, 218)
}
.kazuha {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/card/main/kazuha/kaedahara_kazuha.png);
    background-size: 400%;
    background-position: center 18%;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all ease .35s;
}
.kazuha:hover {
    background-position: 48% 18%;
    background-size: 620%;
}
.kazuha:active {
    background-position: 48% 18%;
    background-size: 620%;
}
.klee {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/card/main/klee/klee.png);
    background-size: 400%;
    background-position: center 40%;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all ease .35s;
}
.klee:hover {
    background-position: 51% 40%;
    background-size: 600%;
}
.klee:active {
    background-position: 51% 40%;
    background-size: 600%;
}
.weapon {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/card/main/weapon/);
    background-size: 350%;
    background-position: center 20%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.summonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bannerImgContainer {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img {
    width: 1080px;
    height: 533px;
    border-radius: 5px;
    image-rendering: auto;
}
.btnContainer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.utilityBtnContainer {
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.summonBtnContainer {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(55, 63, 77);
    font-size: 14px;
    font-family: inherit;
    color: inherit;
    letter-spacing: 1.5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transition: all ease .35s;
}
button:hover {
    background-color: rgb(29, 35, 46);
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
    cursor: pointer;
}
button:active {
    background-color: rgb(36, 46, 65);
    transform: scale(0.93);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
